<h2 id="game-state">Game State</h2>

<span id="oath"></span>

<h3>Dramatis Personæ</h3>

<table>
  <tbody id="player-profiles">
    <tr>
      <td><figure><img src="assets/character_art/portrait_chancellor.png" class="portrait"><figcaption><strong>Chancellor</strong><br>Alex</figcaption></td>
      <td><figure><img src="assets/character_art/portrait_black.png" class="portrait"><figcaption><strong>House Black</strong><br>Viktor (Exile)</figcaption></figure></td>
    </tr>
    <tr>
      <td><figure><img src="assets/character_art/portrait_blue.png" class="portrait"><figcaption><strong>House Blue</strong><br>Kristín (Exile)</figcaption></figure></td>
      <td><figure><img src="assets/character_art/portrait_yellow.png" class="portrait"><figcaption><strong>House of Dawn</strong><br> Andreas (Exile)</figcaption></figure></td>
    </tr>
  </tbody>
</table>

<h3>The World</h3>

<h4>Sites</h4>
<div id="sites"></div>

<h4>World Deck</h4>
<table>
  <thead>
    <tr>
      <th>Suit</th>
      <th>#</th>
      <th>Chart</th>
    </tr>
  </thead>
  <tbody id="card-counts"></tbody>
</table>

<h4>TTS Chronicle</h4>
<pre><code id="savestring"></code></pre>

<hr>

<h2>{{ site.title }}</h2>
