<h2 id="game-state">Game State</h2>

<p><span id="oath"></span></p>

<h3 id="dramatis-personæ">Dramatis Personæ</h3>

<table>
  <tbody>
    <tr>
      <td><img src="assets/character_art/portrait_chancellor.png" class="portrait" /></td>
      <td><img src="assets/character_art/portrait_black.png" class="portrait" /></td>
    </tr>
    <tr>
      <td><strong>Chancellor</strong>:<br />Alex</td>
      <td><strong>House Black</strong>:<br />Viktor (Exile)</td>
    </tr>
    <tr>
      <td><img src="assets/character_art/portrait_blue.png" class="portrait" /></td>
      <td><img src="assets/character_art/portrait_yellow.png" class="portrait" /></td>
    </tr>
    <tr>
      <td><strong>House Blue</strong>:<br />Kristín (Exile)</td>
      <td><strong>House of Dawn</strong>:<br /> Andreas (Exile)</td>
    </tr>
  </tbody>
</table>

<h3 id="the-world">The World</h3>

<h4 id="sites-in-play">Sites in play</h4>

<p><em>Cradle</em>
<span id="site1"></span>
<span id="site2"></span></p>

<p><em>Provinces</em>
<span id="site3"></span>
<span id="site4"></span>
<span id="site5"></span></p>

<p><em>Hinterlands</em>
<span id="site6"></span>
<span id="site7"></span>
<span id="site8"></span></p>

<h4 id="world-deck">World Deck</h4>
<table>
  <thead>
    <tr>
      <th>Suit</th>
      <th>Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="number"></span> Discord</td>
      <td><span class="counter" data-imgsrc="assets/images/suit-discord.png"></span></td>
    </tr>
    <tr>
      <td><span class="number"></span> Hearth</td>
      <td><span class="counter" data-imgsrc="assets/images/suit-hearth.png"></span></td>
    </tr>
    <tr>
      <td><span class="number"></span> Nomad</td>
      <td><span class="counter" data-imgsrc="assets/images/suit-nomad.png"></span></td>
    </tr>
    <tr>
      <td><span class="number"></span> Arcane</td>
      <td><span class="counter" data-imgsrc="assets/images/suit-arcane.png"></span></td>
    </tr>
    <tr>
      <td><span class="number"></span> Order</td>
      <td><span class="counter" data-imgsrc="assets/images/suit-order.png"></span></td>
    </tr>
    <tr>
      <td><span class="number"></span> Beast</td>
      <td><span class="counter" data-imgsrc="assets/images/suit-beast.png"></span></td>
    </tr>
  </tbody>
</table>

<h4 id="tts-chronicle">TTS Chronicle</h4>
<pre><code>030303000219The Helichrysum Chronicle2B010101234505FFFFFF20FFFFFF14FFFFDE1BFFFFFF29FFFFFF16FFFFE01EFFFFFF1FFFFFFF3B0624182B0E2629D61ED31D15D51309522F201C3521001FD2D42819C30B1632AD0F342233C125089810010D112C121A0507042314270AB717312D30062A1B2E0C030212E9DBDCEAE8E7E4DFDADDEDE2E6ECE3E5E1EB000105ARman
</code></pre>
