---
---

@import "{{ site.theme }}";

img {
  -webkit-box-shadow: 0px 0px 0px #bdb6ad;
  -moz-box-shadow: 0px 0px 0px #bdb6ad;
  box-shadow: 0px 0px 0px #bdb6ad;
  border: 0px solid #fff6e9;
  max-width: 502px;
}

.header-level-1 {
  font-size: 3em;
  border-bottom: .2em double #d3ccc1;
  color: #7c334f;
  text-align: center;
  font-style: normal;
  margin: 1.1em 0 .38em;
  line-height: 1.2;
  padding-bottom: 10px;
  font-family: 'goudy_header'
}

.header-level-2 {
  font-size: 2em;
  color: #7c334f;
  margin: .95em 0 .5em;
  border-bottom: .1em solid #D3CCC1;
  line-height: 1.2;
  padding-bottom: 10px;
  font-family: 'goudy_header'
}
