---
---

@import "{{ site.theme }}";

img {
  -webkit-box-shadow: 0px 0px 0px #bdb6ad;
  -moz-box-shadow: 0px 0px 0px #bdb6ad;
  box-shadow: 0px 0px 0px #bdb6ad;
  border: 0px solid #fff6e9;
  max-width: 502px;
}

@font-face {
    font-family: 'goudy_header';
    src: url('../fonts/goudytextmt-lombardiccapitals.f246035d5c069ac6c7c9-webfont.ttf') format('truetype'),
         url('../fonts/goudytextmt-lombardiccapitals.f246035d5c069ac6c7c9-webfont.woff2') format('woff2'),
         url('../fonts/goudytextmt-lombardiccapitals.f246035d5c069ac6c7c9-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-level-1 {
  font-size: 3em;
  border-bottom: .2em double #d3ccc1;
  color: #7c334f;
  text-align: center;
  font-style: normal;
  margin: 1.1em 0 .38em;
  line-height: 1.2;
  padding-bottom: 10px;
  font-family: 'goudy_header'
}

.header-level-2 {
  font-size: 2em;
  color: #7c334f;
  margin: .95em 0 .5em;
  border-bottom: .1em solid #D3CCC1;
  line-height: 1.2;
  padding-bottom: 10px;
  font-family: 'goudy_header'
}

.goudy-capital {
  font-family: 'goudy_header'
}

.chancellor {
    padding: 5px;
    background-color: #ead2e4;
}

section#main_content {
    z-index: 2;
    padding-top: 20px;
    padding-right: 22px;
    padding-bottom: 0px;
    padding-left: 22px;
    min-height: 185px;
}

/*
body {
  background: transparent url(../images/Oath-Character-Art-Chancellor.png);
  background-repeat: no-repeat;
  height: 500px;
  background-color: #ece4d8;
  background-size: cover;
}
*/
