---
---

@import "{{ site.theme }}";


h1 {
 color: #ff0000;
}


test {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

fancyhead {
  font-family : 'Goudy Header';
  letter-spacing: 2px;
}
