---
---

@import "{{ site.theme }}";

img {
  -webkit-box-shadow: 0px 0px 0px #bdb6ad;
  -moz-box-shadow: 0px 0px 0px #bdb6ad;
  box-shadow: 0px 0px 0px #bdb6ad;
  border: 0px solid #fff6e9;
  max-width: 502px;
}

header span.ribbon-inner {
  position: relative;
  display: block;
  background-color: #cd596b;
  border: 8px solid #7c334f;
  padding: 12px;
  z-index: 1;
}
