---
---

@import "{{ site.theme }}";

img {
  -webkit-box-shadow: 0px 0px 0px #bdb6ad;
  -moz-box-shadow: 0px 0px 0px #bdb6ad;
  box-shadow: 0px 0px 0px #bdb6ad;
  border: 0px solid #fff6e9;
  max-width: 502px;
}
