<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" media="screen">
    <script defer type="module" src="{{ '/assets/js/script.js' | relative_url }}"></script>
    <link rel="icon" type="image/png" href="{{ '/assets/images/symbol-secret.png' | relative_url }}">
  </head>

  <body>
    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <h1><img src="assets/images/oath_logo.png"></h1>
            <h2 id="name"></h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

      <span class="banner-fix"></span>

      <div class="color-box" >
        <div id="no-downloads">
          <span class="inner">
          </span>
        </div>

        <section id="main_content">
          {% include game_state.html %}
          {{ content }}
        </section>
        <footer>
          <span class="ribbon-outer">
            <span class="ribbon-inner">
              <span id="quote"></span>
            </span>
            <span class="left-tail"></span>
            <span class="right-tail"></span>
          </span>
        </footer>
      </div>
    </div>
  </body>
</html>
